.sound audio {
    width: 100%;
}

@media all and (min-width: 992px) {
    .sound {
        width: 31%;
    }
}


body {
    background-color: #9e1a1a;
    padding-top: 40px;
    padding-bottom: 40px;
}

hr {
    border-color: #9e1a1a;
}

.container {
    background: white;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-size: 1.5em;
}

.sound-inner {
    background: rgb(208, 208, 208);
    padding-bottom: 5px;
}

.header {
    padding: 10px 10px 0;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 3em;
}

.sound-inner {
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .header {
        padding: 40px 40px 0;
    }

    .content {
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        font-size: 5em;
    }

    .sound-inner {
        margin-bottom: 40px;
    }
}

.select-buttons {
    padding-left: 40px;
    padding-bottom: 40px;
}

.select-button {
    background: #9e1a1a;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 15px 20px;
    margin-right: 20px;
}

.select-button:hover, .select-button.selected {
    background: #ffffff;
    color: #9e1a1a;
    border: 1px solid #9e1a1a;

}