.sound audio {
    width: 100%;
}

body {
    background-color: #9e1a1a;
    padding-top: 40px;
}

hr {
    border-color: #9e1a1a;
}

.container {
    background: white;
}

.header {
    padding: 40px;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    font-size: 5em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-size: 1.5em;
}

.sound-inner {
    background: rgb(208, 208, 208);
    padding-bottom: 5px;
    margin-bottom: 40px;
}